html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box

}

.wrapper-review-content {
    background: white;
    display: flex;
    height: 7rem;
    width: 95%;
    border-radius: 15px;
    padding-left: 4rem;
    justify-content: space-between;
    padding-right: 4rem;
    align-items: center;

}

.content {

    background: #F05462;
}


.content-box {
    display: inline-block;
    width: 88%;
    height: 5rem;
    border-radius: 1rem;
    background: #D0DEF5;
}

.box {
    position: relative;
    left: 2rem;
}

.avatar-review {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
}

.title-review {
    color: #000000;
    font-size: 3rem;
    font-weight: bold;
}

#hr-custom-review {
    background: #2DD872;
    width: 30%;
    position: relative;
    left: -38rem;
    height: 0.6rem;
}

.text-black {
    color: #000000;
    font-weight: normal;
    font-size: 1.5rem;
}


.wrapper-popup-review {
    position: absolute;
    top: -18rem;
    background: white;
    border-radius: 2rem;
    left: 12rem;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 9999;
}

.input-text-area {
    width: 100%;
    height: 79%;
    margin-top: 1rem;
    float: right;
    border: none;
    color: #010000;
    font-size: 2rem;
}

.relative-popup {
    position: relative;
    left: 5rem;
    display: block;

}

.wrapper-popup-title {
    width: 70rem;
    height: 20rem;
}

#header-review {
    margin-top: 2rem;
    margin-left: 2rem;
}

#name-review {
    color: black;
    font-size: 2rem;
    margin-left: 2rem;

}

.icon-review {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.btn-review {
    width: 24%;
    height: 4rem;
    background: #2DD872;
}