
.info1{
    margin-left: 14%;
    margin-right: 14%;
    background-color: white;
    padding-top: 10px;
    width: 75%;
    position: absolute;
    top: 98px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.info1 form{
    width: 100%;
    margin: 0px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    color: #E8EDF1;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
    padding-top: 2px;
}
.info1 h2{

    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;
}
.info1 form .line{
    width: 148px;
    height: 4px;
    left: 0;
    top: 130%;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #2DD872;
}
.info1 form .form-control {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
    outline: none;
    color: black;
    padding-left: 12px;
    height: 42px;
    font-size: 15px;
    background: #E8EDF1;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.info1 form .mb-1{

    padding-bottom: 23px;
}
.container {
    display: flex;
    width: auto;
    height: auto;
    left: 39px;
    top: 952px;

}
.image {
    width: 207px;
    height: 160px;
    left: 39px;
    top: 952px;
}
.container .preview {
    marginTop: 50;
    display: flex;
    flexDirection: column;

}
.button {
    top: 31px;
    cursor: pointer;
    color:red;
    border: none;

}
.add_image{
    text-align: center;
    padding-top: 66px;
    padding-left: 62px;
}
.add_image{
    width: 207px;
    height: 160px;
    left: 39px;
    top: 952px;
    background: rgba(196, 196, 196, 0.37);
}
.info1 form .btn-outline-primary {
    background-color: #2DD872 !important;
    margin-top: 15px;
    color: #fff;
    border-radius: 10px;
}

.info1 form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none !important;
}



/*day nhe*/

.app{
    min-height: 100vh;
    max-height: auto;
    background-color: #1e1e1e;
}


.info1 form .result{
    min-height: 100%;
    width: 100%;
    display: table;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;

}

img{
    width: 320px;
    height: 180px;
    object-fit: cover;
    padding: 0.75rem;

}
.close{
    font-size: 4.5rem;
    line-height: 0.55;
    color: red;
}