.container{
    height: 100%;
    padding-top: 100px;
    margin: 0 186px;
}

.galleries{
    display: flex;
    justify-content: flex-start;
    margin-right: -33px;
    flex-wrap: wrap ;
}

.galleries-header{
    display: block;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFF;
    margin-bottom: 36px;
    position: relative;
}
.galleries-header-line{
    position: absolute;
    width: 148px;
    height: 4px;
    left: 0;
    top: 130%;
    background-color: #2DD872;
}

