.gallery{
    height: 100%;
    padding-top: 100px;
    margin: 0 186px;
}

.catalogs{
    display: flex;
    justify-content: flex-start;
    margin-right: -33px;
    flex-wrap: wrap ;
}

.gallery-header{
    display: block;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFF;
    margin-bottom: 36px;
    position: relative;
}

.gallery-header-line{
    position: absolute;
    width: 148px;
    height: 4px;
    left: 0;
    top: 130%;
    background-color: #2DD872;
}


.icon-love {
    position : absolute;
    top: 33rem;
    left: 1rem;
    z-index : 9999;
    color: #F05462;

}