.ban-user-modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;

    justify-content: center;
    align-items: center;
}

.ban-user-modal-container{
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 500px;
    height: 260px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 34px;
    color: #000000;
    position: relative;
}

.modal-item{
    padding-bottom: 20px;
}

.modal-item label{
    padding-left: 20px;
}

.ban-user-modal-checkbox-area{
    position: absolute;
    top:15%;
    left: 12%;
}

.ban-user-modal-btn{
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 8px;
}
