.image-border {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.post-review{
    background-color: #e8edf1;
}
.image-round {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: -1.5rem;
    left: 1.5rem;

}


.image-round-comment {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: -1.5rem;
    left: 1.5rem;
}



.text-float {
    float: left;
    text-align: left;
}

.card {
    border-radius: 2rem;
}

.num-reviews {
    font-size: 2rem;
    font-weight: bold;
}

.brown-color {
    background: #E9EDF1;
}
