.section {
    width: 95%;
    margin: 2%;
    float: left;
    color: black;
}

.section .line {
    width: 148px;
    height: 4px;
    left: 0;
    top: 130%;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #2DD872;
}

.section p {
    font-family: sans-serif;
}

.photo {
    width: 15%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.photo img {
    margin-left: -60%;
    height: 100%;
    width: auto;
}
