:root{
    --bg-color: #2D3E50;
    --green-color: #2DD872;
    --red-color: #F05462;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html,#main {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--bg-color);
}

.nav-bar{
    position: fixed;
    display: flex;
    background-color: #2D3E50;
    width: 100%;
    padding-top: 14px;
    z-index: 999;
}

.nav-search{
    position: relative;
    margin-left: 186px;
}

.nav-search input {
    padding-left: 48px;
    width: 509px;
    height: 60px;

    background: #FFFFFF;
    border:none;
    border-radius: 10px;
    font-size: 16px;
}

.nav-search-icon{
    position: absolute;
    font-size: 24px;
    left: 15px;
    top:50%;
    transform: translateY(-50%);
    /* transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0); */
}

.nav-main-header{
    display: flex;
    list-style: none;
    height: 60px;
    margin-left: 24px;
}   

.nav-main-header li{
    font-size: 20px;
    line-height: 24px;
    min-width: 60px;
    color: #fff;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main-header li:hover{
    background-color:#33485e;
}

.nav-main-header li.active{
    background-color: var(--red-color);
}

.nav-right{
    margin-left: auto;
    margin-right: 24px;
    align-self: center;
}
.login-btn{
    width: 140px;
    height: 56px;
}

.btn{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.btn--border-radius{
    border-radius: 20px;
}

.btn.btn--red{
    background: var(--red-color);
    color: #fff;
}

/* .nav-message{

}

.nav-noti{

}

.nav-avatar{

} */

/* //////////////////////Container/////////////////////////////////////*/

.container{
    height: 100%;
    padding-top: 100px;
    margin: 0 186px;
}

.galleries{
    display: flex;
    justify-content: flex-start;
    margin-right: -33px; 
    flex-wrap: wrap ;
}

.galleries-header{
    display: block;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFF;
    margin-bottom: 36px;
    position: relative;
}
.galleries-header-line{
    position: absolute;
    width: 148px;
    height: 4px;
    left: 0;
    top: 130%;
    background-color: #2DD872;
}

.galleries .gallerties-item{
    display: flex;
    width: 360px;
    height: 262.5px;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #33485e;
    overflow: hidden;
    margin-bottom: 35px;
    margin-right: 33px;
}

.galleries .gallerties-item img {
    width: 175px;
    height: 262.5px;
}


.item-info .item-name{
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;

    height: 100px;
    display: flex;
    align-items: center;
}
.item-info .item-year,.item-info .item-topic {
    font-size: 14px;
    line-height: 20px;
    position: absolute;
}
.item-info .item-year{
    top: 110px;
}

.item-info .item-topic{
    bottom: 112px;
}
.galleries .item-info{
    padding-left: 28px;
    flex: 1;
    color: #fff;
    position: relative;
}
.item-info .item-rating{
    position: absolute;
    bottom: 72px;
}

.item-info .item-rating i {
    position: absolute;
    color: #D89E2D;
    font-size: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.item-info span{
    font-size: 20px;
    line-height: 30px;
}
.item-info .Aggregate-ratting{
    padding-left: 20px;
    font-weight: 600;
}

.gallerties-item .more-info-btn{
    padding: 10px 16px;
    position: absolute;
    bottom: 4px;
    right: 34px;
}