html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box

}

.login-background {
    background-color: white;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    background: url("https://www.figma.com/file/d0hm82NIMDVSdmtDHIHlXy/image/25d7bc390c2b0aea21ec8f12090804ab7124d648?fuid=1039888245410511885");
    object-fit: cover;
}
