<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/movie.css">
    <title>Dark</title>
</head>
<body>
    <div id='main'>
        <nav class="nav-bar">
            <div class="nav-search">
                <input class="nav-search-bar" type="text" placeholder="Seach for movies">
                <i class="fas fa-search nav-search-icon"></i>
            </div>
            <ul class="nav-main-header">
                <li>Trang chủ</li>
                <li>Bảng xếp hạng</li>
                <li>Tin tức</li>
            </ul>
            <div class="nav-right">
                <div class="login-btn btn btn--red">
                    Đăng nhập
                </div>
            </div>
        </nav>
        <div id="movie-page">
            <div id="movie-header">
                <div class="title">
                    <span id="name">DARK</span>
                    <span id="year">2019-2020</span>
                    <!-- FOLLOWING IMPLEMENT HERE -->
                </div>
                <div id="movie-poster"><img src="./Image/Movie/dark_poster.jpg"></div>
                <div id="trailer">
                  <iframe src="https://www.youtube.com/embed/BZ5OCIJVErw?rel=0&autohide=1"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen>
                  </iframe>
                </div>
                <!-- RATING IMPLEMENT HERE -->
            </div>
            <div class='section'>
                <h3 style="font-family: 'Play'">Nội dung</h3>
                <hr>
                <p>A family saga with a supernatural twist, set in a German town, where the disappearance of two young children exposes the relationships among four families.</p>
            </div>
            <div class='section'>
                <h3 style="font-family: 'Play'">Thể loại</h3>
                <hr>
                <p>Mystery</p>
            </div>
            <div class='section'>
                <h3 style="font-family: 'Play'">Diễn viên</h3>
                <hr>
                <p>Oliver Masucci, Karoline Eichhorn, Jördis Triebel, Louis Hofmann, Maja Schöne.</p>
            </div>
            <div class='section'>
                <h3 style="font-family: 'Play'">Đạo diễn</h3>
                <hr>
                <p>Baran bo Odar</p>
            </div>
            <div class='section'>
                <h3 style="font-family: 'Play'">Hình ảnh</h3>
                <hr>
                <div class='photo'>
                  <img src='./Image/Movie/photo1.jpg'>
                </div>
                <div class='photo'>
                  <img src='./Image/Movie/photo2.jpg'>
                </div>
                <div class='photo'>
                  <img src='./Image/Movie/photo3.png'>
                </div>
            </div>
            <div class='section'>
                <h3 style="font-family: 'Play'">Reviews</h3>
                <hr>
                <!-- REVIEWS IMPLEMENT HERE -->
            </div>
            <div class='section'>
                <h3 style="font-family: 'Play'">Tham khảo</h3>
                <hr>
                <!-- RECOMMENDATION IMPLEMENT HERE -->
            </div>
        </div>
    </div>
</body>
</html>
