.info{
    height: 630px;
    background-color: white;
    padding-top: 100px;
    margin: 0px 186px;
}
.site-title {

    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: 4px double #FFF
}

.site-title .site-name{
    padding-left: 45px;
    padding-top: 213px;
    color: #010000;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    line-height: 37.5px;
    line-snap: revert;
    font-style: normal;
    font-weight: bold;
}
 /*Ngày sinh giới tính email*/
.site-title .ngaysinh , .site-title .gioitinh,.site-title .email {
    padding-left: 103px;
    font-size: 23px;
    line-height: 4.5px;
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
}

.site-title .ngaysinh{
    padding-top: 21.5px;
    color: #010000;
}
.site-title .gioitinh{

    padding-top: 47px;
    color: #010000;
}
.site-title .email{
    padding-top: 47px;
    color: #010000;
}

.site-title .site-name {
    font-size: 25px
}
.site-title .date_birth, .site-title .sex, .site-title .Email{
    padding-left: 103px;
    padding-top: 15px;
    font-style: italic;
    color: #010000;
    font-size: 23px;
    line-height: 4.5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}

/*............................................................*/
.site-title2 {
    margin: -270px auto;
    margin-bottom: 30px;
    border-bottom: 4px double #FFF
}
.site-title2 .city ,.site-title2 .password {
    padding-left: 606px;
    font-size: 23px;
    line-height: 4.5px;
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
}
.site-title2 .password{

    padding-top: 47px;
    color: #010000;
}

.site-title2 .city{
    padding-top: 21.5px;
    color: #010000;
}
.site-title2 .tp, .site-title2 .mk{
    padding-left: 606px;
    padding-top: 15px;
    font-style: italic;
    color: #010000;
    font-size: 23px;
    line-height: 4.5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}
.avatar{
    position: absolute;
    width: 130px;
    height: 124.52px;
    left: 247px;
    top: 143px;
    -webkit-border-radius:42%;
}
 .name{
     position: absolute;
     left: 437px;
     top: 189px;
     color: #010000;
     font-style: normal;
     font-weight: bold;
     font-size: 30px;

}